@page "/"
@page "/{OrdenId:int}"

@using BLL;
@using DAL; 
@using Models;

@inject IToastService toast

<EditForm Model="Orden" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="card">
        <div class="card-header">
            <h3>Registro de ordenes</h3>
        </div>

        <div class="card-body">
            <form>
                @*OrdenId*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>Orden Id</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="Orden.OrdenId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Fecha*@
                <div class="form-group">
                    <label>Fecha</label>
                    <InputDate @bind-Value="Orden.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => Orden.Fecha)" />
                </div>

                @*Suplidor Id*@
                <div class="form-group">
                    <label>Suplidor</label>
                    <select class="browser-default custom-select" @bind="Orden.SuplidorId" @onfocusout="LlenaListaProductos">
                        <option value="0" disabled>Seleccione una opcion</option>
                        @foreach (var item in ListaSuplidores)
                        {
                            <option value="@item.SuplidorId">@item.Nombres</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => Orden.SuplidorId)" />
                </div>

                @*Detalle*@
                <hr/>
                <h5><b>Detalle:</b></h5>
                <div class="form-row">
                    @*Producto*@
                    <div class="form-group col">
                        <label>Producto</label>
                        <select class="browser-default custom-select" @bind="ProductoSeleccionado" @onfocusout="LlenaCosto" disabled="@IsDisabled">
                            <option value="0" disabled>Seleccione una opcion</option>
                            @foreach (var item in ListaProductos)
                            {
                                <option value="@item.ProductoId">@item.Descripcion</option>
                            }
                        </select>
                    </div>

                    @*Cantidad*@
                    <div class="form-group col">
                        <label>Cantidad</label>
                        <InputNumber @bind-Value="cantidad" class="form-control"/>
                    </div>

                    @*Costo*@
                    <div class="form-group col">
                        <label>Costo</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="costo" class="form-control" disabled/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" @onclick="AgregarDetalle">
                                    <i class="oi oi-plus" aria-hidden="true"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Orden.OrdenesDetalle)
                        {
                            <tr>
                                <td>@ProductosBLL.Buscar(item.ProductoId).Descripcion</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Costo</td>
                                <td>@(item.Cantidad * item.Costo)</td>
                                <td><button type="button" class="btn btn-outline-danger" @onclick="() => RemoverFila(item)">Remover</button></td>
                            </tr>
                        }
                    </tbody>
                </table>

                @*Monto*@
                <div class="form-group">
                    <label>Monto</label>
                    <InputNumber @bind-Value="Orden.Monto" class="form-control" disabled/>
                </div>
            </form>
        </div>

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success">Guardar</button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int OrdenId { get; set; }

    private Ordenes Orden = new Ordenes();
    private List<Suplidores> ListaSuplidores = new List<Suplidores>();
    private List<Productos> ListaProductos = new List<Productos>();

    public bool IsDisabled;
    public int ProductoSeleccionado { get; set; }
    public int cantidad { get; set; }
    public double costo { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
        Buscar();
        LlenaListaSuplidores();
        IsDisabled = true;
    }

    public void AgregarDetalle()
    {
        Orden.OrdenesDetalle.Add(new OrdenesDetalle{
            OrdenId = Orden.OrdenId,
            ProductoId = ProductoSeleccionado,
            Cantidad = cantidad,
            Costo = costo
        });

        CalcularMonto();
    }

    public void LlenaListaSuplidores()
    {
        ListaSuplidores = SuplidoresBLL.GetList(p => true);
    }

    public void LlenaListaProductos()
    {
        IsDisabled = false;
        ListaProductos = ProductosBLL.GetList(p => true);
    }

    public void CalcularMonto()
    {
        Orden.Monto = 0;
        foreach (var item in Orden.OrdenesDetalle)
        {
            Orden.Monto += ProductosBLL.Buscar(item.ProductoId).Costo * item.Cantidad;
        }
    }

    public void LlenaCosto()
    {
        costo = ProductosBLL.Buscar(ProductoSeleccionado).Costo;
    }

    public void RemoverFila(OrdenesDetalle OrdenRemovida)
    {
        Orden.OrdenesDetalle.Remove(OrdenRemovida);
        CalcularMonto();
    }

    public void Nuevo()
    {
        Orden = new Ordenes();
        costo = 0;
        ProductoSeleccionado = 0;
        cantidad = 0;
    }

    private void Buscar()
    {
        if(Orden.OrdenId > 0)
        {
            var encontrado = OrdenesBLL.Buscar(Orden.OrdenId);

            if (encontrado != null)
                this.Orden = encontrado;
            else
                toast.ShowWarning("No encontrado");
        }
    }

    public void Guardar()
    {
        bool guardo;

        guardo = OrdenesBLL.Guardar(Orden);

        if (guardo)
        {
            Nuevo();
            toast.ShowSuccess("Guardado correctamente");
        }
        else
            toast.ShowError("No fue posible guardar");
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = OrdenesBLL.Eliminar(Orden.OrdenId);

        if (elimino)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado correctamente");
        }
        else
            toast.ShowError("No fue posible eliminar");
    }
}
